@model IEnumerable<OrderItemsWeb.Models.Product>

@{
	ViewBag.Title = "Index";
}

<h2>List Products</h2>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Product Name
			</th>
			<th>
				Total Product Quantity
			</th>
			<th>
				Product Price
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.ProductName
				</td>
				<td>
					@item.ProductQuantity remaining
				</td>
				<td>
					@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.ProductPrice)
				</td>
				<td>
					@Html.ActionLink("Add to cart", "OrderNow", "OrderCart", new { id = item.ProductID }, new { @class = "btn btn-primary" })
				</td>
			</tr>
		}
	</tbody>
</table>

